/* Basic styling for the form */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    background-image:url("https://res.cloudinary.com/dsr3dmakv/image/upload/v1711997045/fok3775gkoabqg1eyg0y.jpg");
    background-size:cover;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}